################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Warshti.Entities/obj
/Warshti.Entities/Musan.Entities.csproj.user
